<div class="gis_NavToolsDijit" >
    <div class="formContainer">
        <button title="Zoom In" data-dojo-attach-event="onClick:zoomIn" class="fa fa-search-plus fa-lg" id="zoomIn"></button>
        <button title="Zoom Out" data-dojo-attach-event="onClick:zoomOut" class="fa fa-search-minus fa-lg"></button>
        <button title="Full Extent" data-dojo-attach-event="onClick:fullExtent" class="fa fa-globe fa-lg"></button>
        <button title="Previous Extent" data-dojo-attach-event="onClick:prevExtent" class="fa fa-arrow-left fa-lg"></button>
        <button title="Next Extent" data-dojo-attach-event="onClick:nextExtent" class="fa fa-arrow-right fa-lg"></button>
        <button title="Pan" data-dojo-attach-event="onClick:pan" class="fa fa-hand-o-up fa-lg"></button>
        <button title="Deactivate Navigation Tool" data-dojo-attach-event="onClick:deactivate" class="fa fa-times-circle fa-lg"></button>
        <!--<div data-dojo-type="dijit/Tooltip" data-dojo-props="connectId:'zoomIn',position:['below']">
            <i>Draw a rectangle on a map to <b>Zoom In</b></i>
        </div>-->
	<!--<button data-dojo-type="dijit/form/Button" data-dojo-props="iconClass:'zoominIcon',showLabel:true"
		data-dojo-attach-event="onClick:zoomIn">Zoom In</button>
        <button data-dojo-type="dijit/form/Button" data-dojo-props="iconClass:'zoomoutIcon',showLabel:true"
                data-dojo-attach-event="onClick:zoomOut">Zoom Out</button>
	<button data-dojo-type="dijit/form/Button" data-dojo-props="iconClass:'zoomfullextIcon',showLabel:true"
		data-dojo-attach-event="onClick:fullExtent">Full Extent</button>
	<button data-dojo-type="dijit/form/Button" data-dojo-props="iconClass:'zoomprevIcon',showLabel:true"
		data-dojo-attach-event="onClick:prevExtent">Prev Extent</button>
	<button data-dojo-type="dijit/form/Button" data-dojo-props="iconClass:'zoomnextIcon',showLabel:true"
		data-dojo-attach-event="onClick:nextExtent">Next Extent</button>
	<button data-dojo-type="dijit/form/Button" data-dojo-props="iconClass:'panIcon',showLabel:true"
		data-dojo-attach-event="onClick:pan">Pan</button>
	<button data-dojo-type="dijit/form/Button" data-dojo-props="iconClass:'deactivateIcon',showLabel:true"
		data-dojo-attach-event="onClick:deactivate">Deactivate</button>
	</div>-->
    </div>
</div>



